.container {
  position: relative;
  min-height: 760px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  overflow-y: hidden;
}

.content {
  /* position: relative; */
  z-index: 2;
  padding: 126px 0 0 164px;
}

.subTitle {
  margin-bottom: 130px;
}

.quote {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 320px;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin-left: 445px;
}

.quote::before {
  content: '“';
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  left: -25px;
  top: -5px;
}

.quote::after {
  content: '“';
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  right: -15px;
  top: -5px;
}

.icon {
  margin-left: 110px;
  margin-bottom: -12px;
}

.decorations {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.slash {
  position: absolute;
  top: 350px;
  right: 100px;
  z-index: 1;
  pointer-events: none;
}

.slash:first-child {
  top: 250px;
}

.mapLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.car {
  position: absolute;
  top: 642px;
  left: 5px;
  width: 166px;
  height: auto;
  pointer-events: auto;
  cursor: pointer;
  transition: transform 2s ease-in-out;
  z-index: 10;
}

.car[data-moving='true'] {
  transform: translateX(100vw);
}

.road {
  position: absolute;
  top: 666px;
  left: 166px;
  width: 1024px;
  height: auto;
  z-index: 5;
}

.mainBuilding {
  width: 586px;
  height: auto;
  position: absolute;
  top: -120px;
  left: 1120px;
  z-index: 5;
}

.sound {
  position: absolute;
  top: 380px;
  right: 0;
  z-index: 2;
}

.sound svg {
  transition: color 0.3s ease;
}

.sound:hover svg {
  color: var(--color-text);
}
