.containerSimple {
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: clamp(40px, -58.29px + 9.6vw, 126px) 0 0
    clamp(50px, -80.29px + 12.72vw, 164px);
  margin-inline-end: clamp(50px, -7.14px + 5.58vw, 100px);
}

.title {
  font-size: clamp(36px, 26.86px + 0.89vw, 44px);
}

.subTitle {
  text-align: left;
  font-size: clamp(32px, 27.43px + 0.45vw, 36px);
}

.linkBuildingSimple {
  align-self: center;
  margin-inline-end: 30px;
}

.mainBuildingSimple {
  inline-size: 100%;
}

.descriptionSimple {
  align-self: end;
  margin-block-end: clamp(150px, 35.71px + 11.16vw, 250px);
  font-weight: 500;
  font-style: Italic;
  font-size: clamp(16px, 11.43px + 0.45vw, 20px);
  line-height: 140%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-align: right;
  min-width: 150px;
  max-width: 360px;
}

@media (max-width: 1024px) {
  .containerSimple {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    margin-block-end: 60px;
    gap: clamp(24px, 16.73px + 2.27vw, 40px);
    padding: clamp(24px, 16.73px + 2.27vw, 40px) 0 0 0;
    margin-inline: 30px;
  }

  .title {
    text-align: center;
    font-size: clamp(28px, 24.36px + 1.14vw, 36px);
  }

  .subTitle {
    text-align: center;
    font-size: clamp(24px, 20.36px + 1.14vw, 32px);
  }

  .linkBuildingSimple {
    margin-inline-end: 0;
  }

  .descriptionSimple {
    text-align: center;
    align-self: center;
    margin-block-end: 0;
    font-size: clamp(12px, 10.18px + 0.57vw, 16px);
  }
}

.container {
  min-height: 700px;
  flex-direction: column;
  display: grid;
  grid-template-columns: 568px 667px 1fr;
  grid-template-rows: 360px 285px 115px;
  grid-template-areas:
    'titleList . mainBuilding'
    '. description mainBuilding'
    'mapLayer mapLayer mainBuilding';
  align-content: start;
}

.titleList {
  padding: 126px 0 0 164px;
  grid-area: titleList;
}

.description {
  grid-area: description;
  display: flex;
  align-items: center;
  gap: 128px;
  justify-self: start;
  align-self: start;
}

.quote {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 270px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-inline-start: 60px;
}

.hooks::before {
  content: '“';
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  left: -40px;
  top: -5px;
}

.hooks::after {
  content: '“';
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  right: -25px;
  bottom: -5px;
}

.icon {
  max-height: 40px;
  margin-block-start: 30px;
}

.decorations {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.slash {
  position: absolute;
  top: 350px;
  right: 100px;
  z-index: 1;
  pointer-events: none;
}

.slash:first-child {
  top: 250px;
}

.mapLayer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  grid-area: mapLayer;
  display: inline-block;
  position: relative;
  /* overflow: visible; */
}

.car {
  width: 166px;
  height: auto;
  pointer-events: auto;
  cursor: pointer;
  transition: transform 2s ease-in-out;
  z-index: 20;
  margin-inline-start: 10px;
  transition: transform 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
  transform: translateX(-300px);
}

.car[data-moving='true'] {
  transform: translateX(250px);
}

.car[data-moving-second='true'] {
  transform: translateX(1025px);
}

.car[data-moving-workshop='true'] {
  transform: translateX(1380px);
}

.car[data-moving-exhibition='true'] {
  transform: translateX(1330px);
}

.car[data-moving-museum='true'] {
  transform: translateX(1340px);
}

.car[data-moving-tv-studio='true'] {
  transform: translateX(905px);
}

.road {
  top: 666px;
  left: 166px;
  inline-size: 1024px;
  block-size: auto;
  z-index: 5;
}

.roadExhibition {
  inline-size: 900px;
  block-size: 32px;
}

.houseImage {
  position: absolute;
  z-index: -1;
}

.linkBuilding {
  z-index: 1;
  grid-area: mainBuilding;
  align-self: end;
  margin-inline-start: -50px;
  position: relative;
  top: 10px;
}

.mainBuilding {
  width: 586px;
  height: auto;
}

.pointerWrapper {
  position: relative;
  bottom: 180px;
  left: 770px;
  width: 250px;
  height: 140px;
  overflow-y: hidden;
  cursor: pointer;
}

.pointerImage {
  width: 100%;
}

.pointerText {
  position: absolute;
  top: 52px;
  left: 60px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 20px;
}

.sound {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 2;
}

.sound svg {
  transition: color 0.3s ease;
}

.sound:hover svg {
  color: var(--color-text);
}

[data-rocket='true'] {
  height: auto;
  z-index: 20;
  pointer-events: none;
  opacity: 1;
  transition: transform 3s ease-in;
}

[data-rocket-launch='true'] {
  transform: translateY(-200vh);
}
