.container {
  padding: 30px 60px 70px;
  display: flex;
  flex-direction: column;
}

.sound {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 2;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.mainBlock {
  margin-block-end: 80px;
}

.table {
  border: 1px solid var(--color-primary);
  font-family: var(--font-secondary);
  border-spacing: 0;
  background-color: var(--color-table);
  font-size: 24px;
  line-height: 140%;
}

.tableRow {
  display: grid;
  grid-template-columns: 87px 1fr 450px;
  align-items: center;
}

.tableRowTitle {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  text-align: center;

  td {
    padding: 30px;
  }
}

.tableRowTitle:not(:first-child) .mainTitle {
  padding: 48px;
}

.tableRow:nth-child(2n) {
  background-color: var(--color-menu);
}

.number {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
}

.mainCell {
  border-inline: 1px solid var(--color-primary);
  padding: 30px;
  line-height: 1.4em;

  span {
    letter-spacing: 0.009em;
  }
}

.price {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}
