.container {
  position: relative;
  inline-size: 100%;
  display: flex;
}

.sound {
  border: 1px solid var(--color-text);
  padding: 10px 15px 7px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
  top: 60px;
}

.car {
  position: absolute;
  top: 250px;
  left: 0;
}

.map {
  position: absolute;
  top: 272px;
  left: 129px;
}

.containerMapHouses {
  position: absolute;
  top: 187px;
  left: 129px;
}

.houseMap {
  position: absolute;
}

.containerBuildings {
  position: absolute;
}

.building {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  font-weight: 500;

  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}

.textBuilding {
  letter-spacing: -0.05em;
  font-size: 14px;
}

.line {
  block-size: 1px;
  inline-size: 100%;
  background: linear-gradient(90deg, #000000 0%, #ababab 50.48%, #000000 100%);
  position: absolute;
  top: 1760px;
  left: 0;
}

.tags {
  color: var(--color-tags);
  font-weight: 400;
  font-size: 15px;
  display: flex;
  margin: 1789px auto 30px;
  letter-spacing: -0.04em;
}

.tagsList {
  display: flex;
  gap: 10px;
}
