.container {
  position: relative;
  inline-size: 100%;
  display: flex;
}

.slash {
  position: absolute;
  bottom: -300px;
  right: -20px;
  z-index: -1;
  pointer-events: none;
}

.sound {
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
  top: 60px;
}

.sound svg {
  transition: color 0.3s ease;
}

.sound:hover svg {
  color: var(--color-text);
}

.car {
  position: absolute;
  top: 250px;
  left: -200px;
  transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}

.car[data-moving='true'] {
  transform: translateX(450px);
}

.car[data-moving-second='true'] {
  transform: translateX(1000px);
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.map {
  position: absolute;
  top: 272px;
  left: 129px;
}

.containerMapHouses {
  position: absolute;
  top: 187px;
  left: 129px;
}

.houseMap {
  position: absolute;
}

.containerBuildings {
  position: absolute;
}

.building {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.imageBuilding {
  transition: scale 0.3s ease;
}

.imageBuilding:hover {
  scale: 1.08;
  cursor: pointer;
}

.textBlock {
  display: flex;
  flex-direction: column;
  font-weight: 500;

  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}

.textBuilding {
  letter-spacing: -0.05em;
  font-size: 14px;
}
