.menu {
  width: 484px;
  height: 100vh;
  background-color: var(--color-menu);
  position: absolute;
  top: 0;
  right: 0;
  padding: 29px 56px 0 51px;
  z-index: 10;
  transition: transform 0.3s ease-out;
  will-change: transform;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: end;
  margin-block-end: 29px;
}

.navMenu {
  line-height: 140%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 22.5px;
  margin-block-end: 85px;
}

.menuItem {
  font-weight: 400;
  font-size: 18px;
}

.menuItem[data-active='true'],
.subMenuItem[data-active='true'] {
  color: var(--color-primary);
}

.buttonListMessenger {
  display: flex;
  gap: 32px;
}

.button {
  border: 1px solid var(--color-primary);
  inline-size: 40px;
  block-size: 40px;
}

.subMenu {
  padding: 20px 0 0;
  margin-inline-start: 29px;
  display: flex;
  flex-direction: column;
  gap: 22.5px;
}
