.menu {
  width: 484px;
  background-color: var(--color-menu);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 29px 56px 0 51px;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: end;
  margin-block-end: 29px;
  cursor: pointer;
}

.navMenu {
  line-height: 140%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 22.6px;
  margin-block-end: 85px;
}

.menuItem {
  font-weight: 400;
  font-size: 18px;
}

.menuItem[data-active='true'] {
  color: var(--color-primary);
}

.subMenuItem {
  color: var(--color-text);
}

.subMenuItem[data-active='true'] {
  color: var(--color-primary);
}

.buttonListMessenger {
  display: flex;
  gap: 32px;
}

.button {
  border: 1px solid var(--color-primary);
  inline-size: 40px;
  block-size: 40px;
}

.subMenu {
  margin-inline-start: 29px;
  display: flex;
  flex-direction: column;
  gap: 22.6px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;

  transition:
    max-height 0.35s ease,
    opacity 0.25s ease,
    padding-top 0.35s ease;
}

.menuItem[data-open='true'] .subMenu {
  max-height: 240px;
  opacity: 1;
  padding-top: 20px;
}

.arrow {
  margin-inline-start: 7px;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.menuItem[data-open='true'] .arrow {
  transform: rotate(0deg);
}
