.container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 52px;
  align-items: center;
}

.sound {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 2;
}

.title {
  margin-block-end: clamp(20px, calc((100vw * 35) / 1920), 35px);
  font-size: clamp(24px, calc((100vw * 50) / 1920), 44px);
}

.subTitle {
  max-inline-size: 1195px;
  letter-spacing: -0.05em;
  margin-block-end: clamp(16px, calc((100vw * 35) / 1920), 35px);
  font-size: clamp(18px, calc((100vw * 24) / 1920), 24px);
}

.titleImage {
  inline-size: 586px;
  margin-block-end: 55px;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  gap: 140px;
  margin-block-end: 160px;
  scale: clamp(0.5, calc(100vw / 1920px), 1);
  transform-origin: top center;
}

.sites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
}

.sitesItem {
  position: relative;
}

.humanImage {
  position: absolute;
  z-index: 3;
}

.decorImage {
  position: absolute;
  z-index: 2;
}

.verticalRoad {
  position: absolute;
  right: -95px;
  top: 0;
}

.horizontalRoadStart {
  position: absolute;
  bottom: -83px;
  left: 0;
}

.horizontalRoadEnd {
  position: absolute;
  bottom: -83px;
  right: 0;
}

@media (max-width: 1440px) {
  .mainBlock {
    margin-block-end: -270px;
  }

  .titleImage {
    inline-size: 440px;
    margin-block-end: 42px;
  }
}

@media (max-width: 1367px) {
  .mainBlock {
    margin-block-end: -340px;
  }
  .titleImage {
    inline-size: 410px;
    margin-block-end: 39px;
  }
}
@media (max-width: 1024px) {
  .mainBlock {
    margin-block-end: -640px;
  }
}
