.container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 52px;
  align-items: center;
}

.sound {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 2;
}

.title {
  margin-block-end: 35px;
}

.subTitle {
  max-inline-size: 1195px;
  letter-spacing: -0.05em;
  margin-block-end: 35px;
}

.titleImage {
  inline-size: 586px;
  margin-block-end: 55px;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  gap: 140px;
  margin-block-end: 160px;
}

.sites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
}

.sitesItem {
  position: relative;
}

.humanImage {
  position: absolute;
  z-index: 3;
}

.decorImage {
  position: absolute;
  z-index: 2;
}

.verticalRoad {
  position: absolute;
  right: -95px;
  top: 0;
}

.horizontalRoadStart {
  position: absolute;
  bottom: -83px;
  left: 0;
}

.horizontalRoadEnd {
  position: absolute;
  bottom: -83px;
  right: 0;
}
