@import './variables.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-secondary);
  line-height: 140%;
  letter-spacing: 0%;
  background-color: var(--color-dark);
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--color-text);
}

h1 {
  font-family: var(--font-primary);
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
