@import '../../styles/variables.css';

.header {
  padding: 0 60px 0;
  block-size: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--color-decorative);
}

.textLeft {
  font-size: 28px;
  font-family: var(--font-primary);
}

.textCenter {
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 16px;
}

.blockRight {
    display: flex;
    gap: 42px;
    align-items: center;
}

.phoneLink {
  font-size: 20px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 11px 28px;
}
