@import '../../styles/variables.css';

.header {
  padding: 20px 60px;
  /* block-size: 87px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--color-decorative);
}

.slash {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.textLeft {
  font-size: 28px;
  font-family: var(--font-primary);
}

.textCenter {
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 16px;
}

.blockRight {
  display: flex;
  gap: 42px;
  align-items: center;
}

.phoneLink {
  font-size: 20px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 11px 28px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


