.container {
  padding: 30px 60px 70px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 54px;
  text-align: center;
}

.cardList {
  display: flex;
  justify-content: space-around;

  .cardListItem:nth-of-type(2n + 1) {
    margin-block-start: 30px;
  }
}

.cardTextBlock {
  block-size: 210px;
  inline-size: 421px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-block-end: 40px;
  background-image: url('/assets/images/reception/border.png');
  background-position: start;
  background-repeat: no-repeat;
  background-size: contain;
  margin-block-end: 50px;

  .number {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .text {
    max-inline-size: 368px;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.formBlock {
  margin: 104px 150px 101px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  button {
    color: var(--color-text);
    border: 1px solid var(--color-primary);
    display: block;
  }

  .form {
    border: 1px solid var(--color-primary);
    padding: 50px 90px 30px;

    .formTitle {
      margin-block-end: 39px;
    }

    .subTitleBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 47px;
      margin-block-end: 40px;

      .subTitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.048em;
        text-transform: uppercase;
      }

      .buttons {
        display: flex;
        gap: 25px;

        .buttonIcon {
          border: 1px solid var(--color-primary);
          padding: 9px;
        }
      }
    }

    .inputList {
      display: flex;
      flex-wrap: wrap;
      gap: 50px 40px;
      margin-block-end: 10px;
      align-items: flex-start;
    }

    .input,
    .select,
    .textarea {
      border: 2px solid var(--color-primary);
      padding: 20px 30px;
      font-size: 18px;
      background-color: transparent;
      color: var(--color-text);
      box-sizing: border-box;
    }

    .input:required {
      border-color: #fd8d04;
    }

    .input[type='number']::-webkit-inner-spin-button,
    .input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    .labelFirst {
      position: relative;
      inline-size: 405px;
      height: 65px;
      margin: 0;
      padding: 0;
    }

    .labelFirst .labelTextFirst {
      position: absolute;
      top: -30px;
      left: 0;
      color: var(--color-text);
      z-index: 2;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
    }

    .select {
      inline-size: 100%;
      height: 65px;
      box-sizing: border-box;
      border: 2px solid var(--color-primary);
      padding: 20px 30px;
      font-size: 18px;
      background-color: transparent;
      color: var(--color-text);
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
      background-repeat: no-repeat;
      background-position: right 20px center;
      background-size: 25px;
      text-indent: 0.01px;
      text-overflow: '';
    }

    .option {
      background-color: var(--color-primary);
      color: var(--color-dark);
    }

    .select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    .textarea {
      inline-size: 100%;
      block-size: 167px;
      resize: none;
      overflow: hidden;
    }

    .addText {
      color: #bababa;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .footerForm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 12px;

      .brifButton {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        padding: 21px 18px;
        border: 3px solid #fd8d04;
      }

      .linkBrifList {
        display: flex;
        gap: 20px 51px;
        align-items: center;
        flex-wrap: wrap;

        .fileInput {
          display: none;
        }

        .linkBrif:nth-child(2) {
          position: relative;
        }

        .linkBrif {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .linkIcon {
            inline-size: 18px;
          }

          .linkText {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: center;
          }
        }

        .fileName {
          position: absolute;
          top: 25px;
          left: 0;
          color: #a09e9e;
        }

        .removeFileBtn {
          background: none;
          border: none;
          color: var(--color-primary);
          cursor: pointer;
          font-size: 14px;
          padding: 0;
          position: absolute;
          top: 25px;
          left: auto;
          right: 0;
        }
      }

      .formButton {
        padding: 21px 71px;
        color: var(--color-dark);
        background-color: var(--color-primary);
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }
    }

    .agreement {
      font-size: 10px;
      max-inline-size: 321px;
      color: #bababa;
      justify-self: end;
      letter-spacing: 0;
      line-height: 140%;
      margin-block-start: 5px;
      display: block;
    }
  }
}

.briefContent {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  max-height: 5000px;
  overflow: hidden;
}

.briefContent[data-hidden='true'] {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
}

.hide {
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 24px;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.hide:hover {
  opacity: 0.7;
}

.formSecond {
  .subTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.048em;
    text-transform: uppercase;
    margin-block-end: 46px;
  }

  .inputListSecond {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-block-end: 50px;

    .inputListSecondStart {
      display: flex;
      gap: 20px 80px;
      margin-block-end: 30px;

      .labelStart {
        display: flex;
        gap: 10px 36px;

        .input {
          inline-size: 350px;
        }
      }
    }

    .label {
      display: flex;
      flex-direction: column;
      gap: 15px;

      span {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  .formFooterSecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 20px;

    .formText {
      font-weight: 600;
      font-size: 24px;
      text-transform: uppercase;
    }

    .agreeAndButton {
      display: flex;
      align-items: center;
      gap: 10px 40px;

      .formButton {
        padding: 21px 71px;
        color: var(--color-dark);
        background-color: var(--color-primary);
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }

      .agreement {
        font-size: 10px;
        max-inline-size: 250px;
        color: #bababa;
        justify-self: end;
        letter-spacing: 0;
        line-height: 140%;
        margin-block-start: 5px;
      }
    }
  }

  .hide {
    border: none;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 24px;
  }
}

.formFirst .inputList .input {
  inline-size: 405px;
  height: 65px;
}

.documentsBlock {
  margin-block-end: 60px;

  .documentTitle {
    margin-block-end: 45px;
  }

  .documentList {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .card {
      max-inline-size: 267px;

      .cardImage {
        inline-size: 100%;
        block-size: 380px;
        border: 3px solid var(--color-primary);
        margin-block-end: 24px;
        overflow-y: hidden;

        .image {
          inline-size: 100%;
          block-size: 100%;
        }
      }

      .cardDescription {
        text-transform: uppercase;
      }
    }

    .card:hover {
      cursor: pointer;
      .cardImage {
        border: 4px solid #fd8d04;
      }

      .cardDescription {
        text-decoration: underline;
        color: var(--color-primary);
      }
    }
  }
}

.details {
  margin: 0 auto;
  padding: 34px 45px;
  border: 1px solid var(--color-primary);
  inline-size: 706px;
  background-color: #282828;

  .title {
    margin-block-end: 29px;
    font-size: 30px;
  }

  .detailsPart {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;

    .detailsTitle {
      font-weight: 600;
    }
  }

  .detailsPart:last-child {
    margin-block-start: 20px;
  }
}
