.container {
  text-align: center;
  padding: 35px 60px 49px;
}

.sound {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 4;
}

.dekstopContent {
  display: block;
}

.mobileContent {
  display: none;
}

.title {
  margin-block-end: clamp(8px, 2vw, 12px);
  font-size: clamp(24px, 4.5vw, 44px);
}

.subTitle {
  margin-block-end: clamp(6px, 1.8vw, 11px);
  font-size: clamp(18px, 3vw, 36px);
}

.roadMap {
  position: relative;
  margin-block-end: 160px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 110px 42px;
}

.card {
  background-image: url('/assets/images/portfolio/spotlights.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 99px 35px 12px;
  text-align: center;
  z-index: 2;
  position: relative;
  block-size: 547px;
  inline-size: 875px;

  .image {
    inline-size: 100%;
    block-size: 436px;
    object-fit: cover;
    object-position: top center;
    border: 1px solid var(--color-primary);
  }

  .cardTitle {
    border: 5px solid #9c9c9c;
    background-color: #232323;
    border-radius: 5px;
    padding: 12px 35px;
    inline-size: fit-content;
    max-width: 100%;
    position: absolute;
    bottom: 60px;
    right: 15px;
  }

  .blockFencing {
    display: flex;
    gap: 34px;
    position: absolute;
    bottom: -25px;

    .fencing {
      max-inline-size: 86px;
      max-block-size: 50px;
    }
  }

  .people {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card > * {
  position: relative;
  z-index: 2;
}

.verticalRoad {
  position: absolute;
  right: -42px;
  top: 98px;
}

.horizontalRoad[data-index='0'] {
  position: absolute;
  bottom: -112px;
  left: 32px;
}
.horizontalRoad[data-index='1'] {
  position: absolute;
  bottom: -112px;
  left: 0;
}
.horizontalRoad[data-index='2'] {
  position: absolute;
  bottom: -88px;
  left: 32px;
}
.horizontalRoad[data-index='3'] {
  position: absolute;
  bottom: -88px;
  left: 0;
}

@media (max-width: 1440px) {
  .container {
    padding-inline: 40px;
  }

  .roadMap {
    scale: 0.75;
    transform-origin: top left;
    margin-block-end: -500px;
  }
}

@media (max-width: 1366px) {
  .roadMap {
    scale: 0.7;
    margin-block-end: -600px;
  }
}

/* @media (max-width: 1024px) {
  .roadMap {
    scale: 0.53;
    margin-block-end: -1050px;
  }
} */

@media (max-width: 1024px) {
  .container {
    padding: 35px clamp(10px, -3.64px + 4.26vw, 40px) 49px;
  }

  .dekstopContent {
    display: none;
  }

  .mobileContent {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin-block-end: clamp(20px, 10.91px + 2.84vw, 40px);
  }

  .roadMobile {
    inline-size: clamp(26px, calc(100vw * 0.05), 40px);
    align-self: stretch;
    background-image: url('/assets/images/portfolio/vertical_road.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;
  }

  .cardListMobile {
    inline-size: 90%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 13.18px + 2.13vw, 35px);
  }

  .cardMobile {
    inline-size: 100%;
    position: relative;
    block-size: clamp(142px, -1.64px + 44.89vw, 458px);
  }

  .imageMobile {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .cardTitleMobile {
    border: 2px solid #9c9c9c;
    background-color: #232323;
    font-size: clamp(8px, 0.73px + 2.27vw, 24px);
    border-radius: 1px;
    padding: clamp(4px, 0.36px + 1.14vw, 12px)
      clamp(6px, -7.18px + 4.12vw, 35px);
    inline-size: fit-content;
    max-width: 100%;
    position: absolute;
    bottom: clamp(25px, 4.55px + 6.39vw, 70px);
    right: clamp(0px, -22.73px + 7.1vw, 50px);
  }

  .peopleMobile {
    position: absolute;
    object-fit: contain;
    z-index: 1;
    pointer-events: none;
    scale: 1.5;
  }
}

@media (max-width: 767px) {
  .peopleMobile {
    scale: 1.3;
  }
}

@media (max-width: 426px) {
  .peopleMobile {
    scale: 1;
  }
}
